.tweetBox {
    padding-bottom: 10px;
    border-bottom: 8px solid var(--twitter-background);
    padding-right: 10px;
}

.tweetBox > form{
    display: flex;
    flex-direction: column;
}
.tweetBox__input{
    padding: 10px;
    display: flex;
}

.tweetBox__input > TextField{
    flex: 1;
    margin-left: 20px;
    padding:15px;
    font-size: 20px;
    border: none;
}

.tweetBox__tweetButton{
    padding: 10px 10px !important;
    background-color: var(--twitter-color) !important;
    border: none !important;
    color: white !important;
    font-weight: 900 !important;
    text-transform: inherit !important;
    border-radius: 30px !important;
    height: 50px !important;
    width: 100px;
    margin-top: 20px !important;
    margin-left: auto !important;
    
  }